.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    background-color:rgb(109, 1, 1);
}

.menu li {
    background-color: black;
    text-transform: uppercase;
    padding: 15px;

    border: solid 3px rgb(109, 1, 1);
    text-decoration: none;
    color: blanchedalmond;
}