.comp-nav {
    padding: 0 10px;
    padding-top: 40px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 12px;

}
.navegador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bolder;
    list-style: none;
    background-color: rgb(4 12 38);
   

}
.navegador a:hover {
    color: black;
}
.logo {
    width: 50px;
    padding-top: 20px;
    border-radius: 50%;
    padding-bottom: 20px;
    position: relative;
    right: 30%;
}
.lista{
    position: relative;
    left: 20%;
}

@media (min-width:720px) {
    .logo{
        width:70px;
    }
    .comp-nav {
        font-size: 14px;
        position: relative;
        right: 5%;
    
    }
    .lista2{
        position: relative;
        left: 60%;
    }

}
@media (min-width:820px) {
    .logo{
        width:80px;
        position: relative;
        left:10%;
    }
    .comp-nav {
        font-size: 22px;
        position: relative;
        right: 5%;
    
    }
    .lista2{
        position: relative;
        left: 60%;
    }
}

