.character-card{
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 24%;
    background: rgb(255 255 255 / 23%);
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(0, 0, 0, 0.15);
}
.character-card img{
    width: 100%;
    margin-bottom: 20px; 
}
.character-card:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.character-card p {
    margin: 3px 0;
}
.character-card h2 {
    margin: 2px 0;
} 
.ocultar{
    display: none
}

.mostrar{
    display: block;
}