.articlemovies img{
   display: block;
   

}
.div2{
    width: 50%;
    margin:0 auto;
    margin-bottom: 20px;
    
}
@media (min-width:720px) {
    .div2{
        width: 35%;
    }
}
@media (min-width:820px) {
    .div2{
        width: 20%;
    }
}
